<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!-- start: Meta -->
<meta charset="utf-8" />
<title>Profilo Responsabile</title>
<meta name="description" content="GotYa Free Bootstrap Theme" />
<meta name="keywords"
	content="Template, Theme, web, html5, css3, Bootstrap" />
<!-- <meta name="author" content="Łukasz Holeczek from creativeLabs" /> -->
<!-- end: Meta -->

<!-- start: CSS -->
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/bootstrap-responsive.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Serif" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Boogaloo" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Economica:700,400italic" />
<!-- end: CSS -->
</head>
<body>
	<header th:include="layout :: Header"></header>

	<!-- start: Wrapper -->
	<div id="wrapper">
		<!-- start: Container -->
		<div class="container">
			<!-- start: Row -->
			<div class="row">
				<!-- start: Pannello Utente-->
				<div class="span5">
					<div class="title">
						<h3>
							Pannello Responsabile<br><span sec:authentication="name"></span>
						</h3>
					</div>
				</div>
			</div>
			<!-- start: Form Corso -->
			<div th:if="${formCorso}" class="span5">
				<div class="title">
					<h3>Inserisci nuovo corso</h3>
				</div>
			</div>
			<!-- end: Form Corso -->
			<!-- start: List Corsi in Programma -->
			<div class="span6">
				<div class="title">
					<h3>Lista dei corsi in programma</h3>
				</div>
				<div class="clearfix">
					<table style="font-size: 3"
						th:unless="${#lists.isEmpty(corsiAperti)}">
						<tr>
							<th><b>Data di svolgimento</b></th>
							<th><b>Nome del corso</b></th>
							<th><b>Orario</b></th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">[Pannello
								Amministratore]</th>
						</tr>
						<tr>
							<td colspan="2"><hr /></td>
						</tr>
						<tr th:each="corso: ${corsiAperti}">
							<td th:text="${corso.dataSvolgimento}" align="center"></td>
							<td th:text="${corso.nomeCorso}"></td>
							<td th:text="${corso.orario}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<form th:action="@{/admin/deleteCorso/} + ${corso.id}"
									method="post">
									<div class="actions">
										<input type="submit" value="Elimina Corso" />
									</div>
								</form>
							</td>
						</tr>
					</table>
					<span th:if="${#lists.isEmpty(corsiAperti)}"><font size="3">Al
							momento non ci sono corsi in programma.</font></span>
				</div>
			</div>
			<!-- end: List Corsi in Programma -->

			<!-- start: List Corsi svolti -->
			<div class="span6">
				<div class="title">
					<h3>Lista dei corsi svolti</h3>
				</div>
				<div class="clearfix">
					<table style="font-size: 3"
						th:unless="${#lists.isEmpty(corsiPassati)}">
						<tr>
							<th><b>Data di svolgimento</b></th>
							<th><b>Nome del corso</b></th>
							<th><b>Orario</b></th>
						</tr>
						<tr>
							<td colspan="2"><hr /></td>
						</tr>
						<tr th:each="corso : ${corsiPassati}">
							<td th:text="${corso.data}" align="center"></td>
							<td th:text="${corso.nome}"></td>
							<td th:text="${corso.orario}"></td>
						</tr>
					</table>
					<span th:if="${#lists.isEmpty(corsiPassati)}"><font size="3">Non
							si sono ancora svolti corsi.</font></span>
				</div>
			</div>
		</div>
		<!-- end: List Corsi svolti-->
		<!-- end: Pannello Utente -->
	</div>
	<!-- end: Container -->
	</div>
	<!-- end: Wrapper  -->


	<div th:include="layout :: javascript"></div>
</body>
</html>