<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!-- start: Meta -->
<meta charset="utf-8" />
<title>Finanza</title>
<meta name="description" content="GotYa Free Bootstrap Theme" />
<meta name="keywords"
	content="Template, Theme, web, html5, css3, Bootstrap" />
<!-- <meta name="author" content="Łukasz Holeczek from creativeLabs" /> -->
<!-- end: Meta -->

<!-- start: CSS -->
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/bootstrap-responsive.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Serif" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Boogaloo" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Economica:700,400italic" />
<!-- end: CSS -->
</head>
<body>

	<!--start: Header -->
	<header th:fragment="Header">
		<div class="container">
			<div class="row">
				<!--start: Navbar -->
				<div class="span9">
					<div class="navbar navbar-inverse">
						<div class="navbar-inner">
							<div class="container">
								<a class="btn btn-navbar" data-toggle="collapse"
									data-target=".nav-collapse"> <span class="icon-bar"></span>
									<span class="icon-bar"></span> <span class="icon-bar"></span>
								</a>
								<div class="nav-collapse collapse">
									<ul class="nav">
										<!--  Home -->
										<li th:class="${navHome}"><a href="/">Home</a></li>

										<!--  Corsi -->
										<li th:class="'dropdown '+ ${navCorsi}"><a href="#"
											class="dropdown-toggle" data-toggle="dropdown">Corsi<b
												class="caret"></b>
										</a>
											<ul class="dropdown-menu">
												<li><a th:href="@{/corsi}">Visualizza tutti i corsi presenti</a></li>
												<li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/newCorso}">Registra nuovo corso <b>[Admin]</b>
												</a></li>
											</ul></li>

										<!--  Centri -->
										<li th:class="'dropdown '+ ${navCentri}"><a href="#"
											class="dropdown-toggle" data-toggle="dropdown">Centri Operativi<b
												class="caret"></b>
										</a>
											<ul class="dropdown-menu">
												<li><a th:href="@{/listCentri}">Visualizza l'elenco
														dei Centri Operativi</a></li>
											</ul></li>

										<!--  Area Riservata -->
										<li th:class="'dropdown '+ ${navAccesso}"><a href="#"
											class="dropdown-toggle" data-toggle="dropdown"><span
												th:class="${navAccesso}">Area Riservata</span><b
												class="caret"></b> </a>
											<ul class="dropdown-menu">
												<li sec:authorize="!isAuthenticated()">
													<div class="actions" align="center">
														<form th:action="@{/accedi}" method="get">
															<input id="accedi" type="submit"
																class="btn btn-succes btn-small"
																value="Login Responsabile" />
														</form>
													</div>
												</li>
												<li><a th:href="@{/responsabileUfficiale/newAllievo}">Registra
														nuovo allievo finanziere</a></li>
												<li><a th:href="@{/responsabileUfficiale/newCorso}">Inserisci
														un nuovo corso</a></li>
												<li><a th:if="${current_username}"
													sec:authorize="hasRole('ROLE_UTENTE')"
													th:href="@{/utente/} + ${current_username}">Visualizza
														e gestisci le tue informazioni</a></li>
												<li class="text-error" th:text="${erroreNewAllievo}"></li>
												<li class="text-error" th:text="${erroreNewCorso}"></li>
											</ul></li>

										<!--  Utente Autenticato -->
										<li sec:authorize="isAuthenticated()">
											<div class="contact-form">
												Benvenuto, <b sec:authentication="name">[generic user]</b>!
												<form action="/logout" method="post">
													<div class="actions">
														<input id="logout" type="submit" value="Logout"
															class="btn btn-succes btn-small" />
													</div>
												</form>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end: Navbar -->
			</div>
		</div>
	</header>
	<!--end: Header-->

	<!-- start: InfoBox -->
	<div class="row" th:fragment="InfoBox">
		<div class="icons-box-vert-container">
			<div class="span6">
				<div class="icons-box-vert">
					<i class="ico-ok ico-color circle-color big"></i>
					<div class="icons-box-vert-info">
						<h1 align="center">GUARDIA DI FINANZA</h1>
						<h3>Competenze e funzioni</h3>
						<p>La legge 7 gennaio 1929, n. 4 attribuisce al personale del
							corpo la figura di agente di polizia tributaria demandando ad
							essi l'accertamento e la repressione delle violazioni
							finanziarie. Ai sensi della legge 23 aprile 1959 n. 189, che ne
							definisce l'ordinamento, il corpo fa parte integrante delle forze
							armate italiane e dipende direttamente dal Ministero
							dell'Economia e delle Finanze.[18] Tra i compiti del corpo,
							riordinati con il d.lgs 19 marzo 2001 n. 68, vi sono
							principalmente funzioni di polizia tributaria ed
							economico-finanziaria, repressione del contrabbando, la lotta
							all'evasione fiscale al traffico di sostanze stupefacenti,
							repressione e contrasto del crimine organizzato, riciclaggio del
							denaro, la lotta al finanziamento al terrorismo, polizia
							giudiziaria e il mantenimento dell'ordine pubblico. Si occupa
							anche del controllo delle frontiere terrestri ed assume ruolo
							prevalente nella difesa di quelle marittime. Agisce anche come
							polizia giudiziaria e pubblica sicurezza comuni alle altre forze
							di polizia italiane, possiede anche compiti di polizia militare
							all'interno del corpo. Il decreto legislativo 19 agosto 2016, n.
							177 - entrato in vigore il 13 settembre 2016 - ha ampliato
							l'operatività del corpo in mare, sopprimendo le squadre nautiche
							della Polizia di Stato e i siti navali dell'Arma dei carabinieri
							ed i relativi mezzi trasferiti al Servizio navale della Guardia
							di Finanza; affermando contestualmente il concorso del corpo al
							mantenimento della pubblica sicurezza in mare,[19] oltretutto
							alla Guardia di Finanza, dal 1º gennaio 2017, è stato demandato
							il controllo doganale in materia di commercio illegale della
							flora e della fauna in via di estinzione, ai sensi delle
							convenzioni internazionali vigenti (CITES) e della relativa
							normativa nazionale e comunitaria, da esercitarsi, esclusivamente
							in relazione all'attività di cui al decreto del Ministero
							dell’ambiente e della tutela del territorio n. 176 dell’8 luglio
							2005. Per quest'ultima attività i militari della Guardia di
							Finanza possono avvalersi delle unità specializzate dell'Arma dei
							Carabinieri transitate dal disciolto Corpo Forestale dello Stato.

							Le principali attività possono essere schematizzate nei seguenti
							campi d'intervento: evasione fiscale; falsificazione di valuta;
							contrabbando; contraffazione di marchi e brevetti; traffico di
							stupefacenti; immigrazione clandestina; gioco d'azzardo; frodi
							telematiche usura; frodi ai danni di organismi dell'Unione
							europea; contrasto al crimine organizzato; reati contro la
							pubblica amministrazione italiana (soprattutto di tipo
							economico-finanziario); concorso nel mantenimento dell'ordine
							pubblico e della pubblica sicurezza. controllo doganale in
							materia ci commercio illegale di fauna e flora protette (CITES).</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="span6">
				<div class="icons-box-vert">
					<i class="ico-cup  ico-white circle-color-full big-color"></i>
					<div class="icons-box-vert-info">
						<h3>Personale</h3>
						<p>Il personale è operativamente ripartito in due contingenti,
							uno riguarda il personale impiegato a terra, che annovera la
							maggioranza dei finanzieri, compreso il Servizio aereo della
							Guardia di Finanza, ed uno, detto "di mare",[20] nel quale è
							inquadrato il personale impiegato nel Servizio navale della
							Guardia di Finanza. Attualmente il Corpo ha una forza organica di
							circa 68 000 militari delle varie categorie (ufficiali,
							ispettori, sovrintendenti, appuntati e finanzieri). Le dotazioni
							organiche assegnate alla Guardia di Finanza per l'assolvimento
							dei compiti istituzionali sono approssimativamente determinate
							in: 3.225 ufficiali; 23.602 ispettori; 13.500 sovrintendenti;
							27.807 appuntati/finanzieri..</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="span6">
				<div class="icons-box-vert">
					<i class="ico-ipad ico-color circle-color big"></i>
					<div class="icons-box-vert-info">
						<h3>Reparti Aeronavali</h3>
						<p>Il Comando aeronavale centrale, diretto da un generale di
							corpo d'armata, preposto al: Comando Operativo Aeronavale (COAN),
							articolato su un Gruppo esplorazione aeromarittima e cinque
							gruppi aeronavali (GAN di Taranto, Messina, Trapani, Cagliari e
							La Spezia), che conduce e coordina l'attività di vigilanza
							aeromarittima a livello nazionale Servizio navale della Guardia
							di Finanza Servizio aereo della Guardia di Finanza; Comando
							logistico aeronavale, articolato su un centro navale a Formia e
							un centro di aviazione a Pratica di Mare, che provvede alla
							funzione logistica centralizzata di settore, 15 reparti operativi
							aeronavali (ROAN), comandati da colonnelli, che dirigono e
							coordinano l'attività specialistica dei reparti marittimi e di
							volo su base regionale.</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="span6">
				<div class="icons-box-vert">
					<i class="ico-thumbs-up  ico-white circle-color-full big-color"></i>
					<div class="icons-box-vert-info">
						<h3>Reparti speciali</h3>
						<p>
							<font size="3"><b>SICO</b></font><br> Il Servizio centrale
							di investigazione sulla criminalità organizzata (SCICO) è stato
							istituito in attuazione della circolare n. 216093/310, del 10
							luglio 1993, emanata a seguito della legge n. 203 del 12 luglio
							1991, recante «Provvedimenti urgenti in tema di lotta alla
							criminalità organizzata e di trasparenza e buon andamento
							dell'attività amministrativa». Inizialmente questo reparto fu
							organizzato unitariamente con competenza su tutto il territorio
							nazionale e si articolava in più GICO periferici in ogni regione
							dove aveva sede una Direzione distrettuale antimafia poi, anche
							sull'onda di polemiche che toccarono anche i similari Servizio
							centrale operativo (SCO) e Raggruppamento operativo speciale
							(ROS) di Polizia di Stato e Carabinieri[30] fu riorganizzato
							esclusivamente come organismo di coordinamento ed analisi, mentre
							i G. I.C.O. ovvero i bracci operativi furono inquadrati
							nell'ambito dei nuclei provinciali di PT. Lo SCICO svolge una
							serie di compiti, tra i quali: curare la raccolta dei dati e
							delle notizie concernenti l'attività investigativa svolta dai
							reparti del Corpo a contrasto della criminalità organizzata;
							effettuare l'analisi dei dati raccolti al fine di individuare ed
							elaborare metodologie investigative idonee ad orientare
							l'attività tecnico-operativa dei GICO; intrattenere i rapporti, a
							livello centrale, con il Procuratore nazionale antimafia con il
							compito di partecipare i GICO delle direttive ricevute; procedere
							all'interscambio informativo con i paritetici Servizi centrali
							delle forze di polizia, con la DIA, nonché con gli organi e i
							servizi di polizia giudiziaria nell'ambito del corpo e, per il
							tramite del Comando generale - II Reparto, con gli organi di
							polizia esteri eventualmente interessati; curare il collegamento
							informativo interforze per le attività dirette alla prevenzione e
							repressione dei delitti di sequestro di persona a scopo di
							estorsione; fornire supporto tecnico-logistico ai GICO, mediante
							l'impiego di attrezzature tecnologicamente avanzate; assicurare
							supporto operativo ai GICO, mediante l'impiego di personale
							dotato di specifiche professionalità per l'esecuzione di attività
							di polizia giudiziaria.
						<p>
							<font size="3"><b>GICO</b></font><br> Sono 26 reparti
							speciali articolati nei Nuclei Polizia Economico Finanziaria
							della Guardia di Finanza, e dislocati in quelle città ove hanno
							sede le Direzioni Distrettuali Antimafia. Unici organi del corpo
							con alta specializzazione in investigazioni atte a contrastare
							esclusivamente reati di criminalità organizzata con finalità di
							riciclaggio, terrorismo nazionale/internazionale, sequestri di
							persona nonché nell'attività antidroga e contrabbando su larga
							scala. Il personale, in termini di operazioni e capacità
							d'intervento, gode di speciali attribuzioni di legge, quali ad
							esempio infiltrato sotto copertura e agente provocatore. I GICO
							inglobano nella propria struttura i GOA (Gruppi Operativi
							Antidroga)
						<p>
							<font size="3"><b>GOA</b></font><br> Il Gruppo Operativo
							Antidroga è inquadrato logisticamente all'interno di ciascun
							G.I.C.O. L'attività esclusiva del reparto G.O.A. è dedita al
							contrasto del narcotraffico su larga scala ovvero grandi traffici
							di droga nazionali ed internazionali.
						<p>
							<font size="3"><b>ATPI</b></font><br> I Reparti
							antiterrorismo e pronto impiego della Guardia di Finanza, più
							comunemente noti come "Baschi verdi" si collocano nell'ambito del
							Corpo quale componente speciale per formazione ed addestramento.
							Fondato nel 1982, è una componente altamente specializzata della
							Guardia-Finanza, nonché la naturale evoluzione dei nuclei SVATPI
							(Scorta Valori Antiterrorismo Pronto Impiego), creati nel 1977 al
							fine di contrastare le azioni delle Brigate Rosse ai danni dei
							furgoni porta valori della Banca d'Italia. L'odierno ATPI è
							prevalentemente impiegato quale supporto ai reparti territoriali,
							nel corso di operazioni ad elevato rischio. Le compagnie che
							compongono il reparto possono inoltre essere dispiegate quali
							unità antisommossa in gravi situazioni di minaccia per l'ordine
							pubblico. Le proiezioni operative dei Baschi verdi, connotate da
							una incisiva e costante presenza sul territorio sono
							l'antiterrorismo, con la vigilanza degli aeroporti, dei porti e
							degli altri obbiettivi considerati sensibili ed il pronto
							impiego, intendendosi: i dispositivi di contrasto ai traffici
							illeciti, con specifico riguardo all'area della criminalità
							organizzata, del contrabbando, degli stupefacenti, delle armi e
							dell'immigrazione clandestina; il concorso al mantenimento
							dell'ordine e della sicurezza pubblica con le altre forze di
							polizia; interventi nei casi di pubblica calamità; il servizio di
							pubblica utilità 117; la partecipazione alle missioni
							internazionali di pace. La formazione specialistica dei militari
							"Baschi verdi" nasce presso ila Scuola di Addestramento di
							Specializzazione di Orvieto. Da sottolineare che il basco verde
							trae origine dall'analogo copricapo in dotazione al Comando
							subacquei ed incursori della Marina Militare (COMSUBIN) che
							addestrò i primi baschi verdi della Guardia di Finanza.
						<p>
							<font size="3"><b>Altri reparti</b></font><br> I G.R.F.
							(gruppi repressioni frodi) operano a livello regionale. La
							sezione antiriciclaggio, precedentemente in essere all'interno
							dei GICO, è stata ora assorbita da altra struttura all'interno
							dei Nuclei Provinciali di Polizia Tributaria. Servizio Sanitario
							- Presso il comando generale e ogni comando regionale Gradi e
							qualifiche Magnifying glass icon mgx2.svg Lo stesso argomento in
							dettaglio: gradi e qualifiche della Guardia di Finanza e
							distintivi di grado italiani. I gradi della Guardia di Finanza si
							dividono in 4 categorie, definite ruoli: ufficiali (che a sua
							volta si suddividono in ufficiali inferiori, superiori e
							generali); ispettori[31] (per i quali si utilizza la
							denominazione di maresciallo, con affissi diversi a seconda
							dell'anzianità nel grado: maresciallo, maresciallo ordinario,
							maresciallo capo, maresciallo aiutante, Luogotenente e
							Luogotenente carica speciale); sovrintendenti[31]
							(vicebrigadiere, brigadiere e brigadiere capo e brigadiere capo
							qualifica speciale nella carriera apicale); appuntati e
							finanzieri[32] (finanziere, finanziere scelto, appuntato,
							appuntato scelto, appuntato scelto qualifica speciale).
						</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<div class="clear"></div>
	</div>
	<!-- end: Info Box -->

	<!-- start: Footer Menu -->
	<div th:fragment="FooterMenu" id="footer-menu"
		class="hidden-tablet hidden-phone">
		<div class="container">
			<div class="row">
				<!-- start: Footer Menu Logo -->
				<div class="span2">
					<div id="footer-menu-logo">
						<a href="#"><img src="/img/logo-footer-menu.png" alt="logo" /></a>
					</div>
				</div>
				<div class="span1">
					<div id="footer-menu-back-to-top">
						<a href="#"></a>
					</div>
				</div>
				<!-- end: Footer Menu Back To Top -->
			</div>
		</div>
	</div>
	<!-- end: Footer Menu -->

	<!-- start: Footer -->
	<div th:fragment="Footer" id="footer">
		<div class="container">
			<div class="row">
				<!-- start: About -->
				<div class="span8">
					<h3>About Us</h3>
					<p>
						<font size="3"> Progetto per l'esame di <b>Sistemi
								Informativi sul Web (AA 2017-2018)</b>, Università degli Studi di
							Roma Tre - Dipartimento di Ingegneria Informatica
						</font>
					</p>
					<p>
						<font size="4"> <i>©Realizzato da Riccardo Bianchini e
								Testa Damiano</i><br /> <br />
						</font>
					</p>

				</div>
				<!-- end: About -->
			</div>
		</div>
	</div>
	<!-- end: Footer -->

	<!-- start: Copyright -->
	<div th:fragment="Copyright" id="copyright">
		<div class="container">
			<p>
				&copy; 2010, creativeLabs. <a href="http://bootstrapmaster.com"
					alt="Bootstrap Themes">Bootstrap Themes</a> designed by
				BootstrapMaster in Jamaica.
			</p>
		</div>
	</div>
	<!-- end: Copyright -->

	<!-- start: Java Script -->
	<!-- Placed at the end of the document so the pages load faster -->
	<div th:fragment="javascript">
		<script src="/js/jquery-1.8.2.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/flexslider.js"></script>
		<script src="/js/carousel.js"></script>
		<script src="/js/jquery.cslider.js"></script>
		<script src="/js/slider.js"></script>
		<script defer="defer" src="../js/custom.js"></script>
	</div>
	<!-- end: Java Script -->
</body>
</html>