<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!-- start: Meta -->
<meta charset="utf-8" />
<title>Lista Centri Operativi</title>
<meta name="description" content="GotYa Free Bootstrap Theme" />
<meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap" />
<!-- <meta name="author" content="Łukasz Holeczek from creativeLabs" /> -->
<!-- end: Meta -->
  
<!-- start: CSS -->
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/bootstrap-responsive.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Economica:700,400italic" />
<!-- end: CSS -->
</head>
<body>
	<header th:include="layout :: Header"></header>

	<!-- start: Wrapper -->
	<div id="wrapper">
		<!-- start: Container -->
		<div class="container">
			<!-- start: Row -->
			<div class="row">
				<!-- start: List Centri-->
				<div class="span4">
					<div class="title">
						<h3>Lista dei Centri Operativi</h3>
					</div>
					<ul>
								<li th:each="centro: ${elencoCentri}"><a th:href="@{admin/listCentri/} + ${centro.id}"
									th:text="${centro.nome}"></a></li>
					</ul>
				</div>
				<!-- end: List Centri -->
				<!-- start: Centro Panel -->
				<div class="span4" th:if="${centroPanel}">
					<div class="title">
						<h3 th:text="${centro.nome}"></h3>
					</div>
					<div class="clearfix"><br>
						<h4 th:text="'Responsabile: ' + ${centro.utente.username}"></h4>
					</div>
					<br>
					<hr width="400" />
					<table th:unless="${#lists.isEmpty(centro.allievi)}">
						<tr>
							<th align="left">Nome e Cognome Allievi</th>
						</tr>
						<tr>
							<td><hr width="400" /></td>
						</tr>
						<tr align="left" th:each="allievo : ${centro.allievi}">
							<td><a th:href="@{/allievo/} + ${allievo.id}"
								th:text="${allievo.nome} +' '+ ${allievo.cognome}"></a></td>
						</tr>
					</table>
					<span th:if="${#lists.isEmpty(centro.allievi)}">Questo centro non ha ancora allievi</span>
					
					<hr width="400" />
					<br>
					<table th:unless="${#lists.isEmpty(centro.corsi)}">
						<tr>
							<th align="left">Nome Corso</th>
						</tr>
						<tr>
							<td colspan="2"><hr width="400" /></td>
						</tr>
						<tr align="left" th:each="corso : ${centro.corsi}">
							<td><a th:href="@{/corso/} + ${corso.id}"
								th:text="${corso.nome}"></a></td>
						</tr>
					</table>
					<span th:if="${#lists.isEmpty(centro.corsi)}">Questo centro non ha ancora corsi</span>
					<div class="clearfix" sec:authorize="hasRole('ROLE_ADMIN')">
						<hr  width="400"/><br><br>
						[Pannello Direttore Generale]
						<form th:action="@{/admin/deleteCentro/} + ${centro.id}" method="post">
							<div class="input">
								<input type="submit" value="Elimina Centro Operativo" />
							</div>
						</form>
					</div>
				</div>
				<!-- end: Centro Panel -->
				<!-- start: Riepilogo Info -->
				<div class="span4" th:if="${successo}">
					<div class="title">
						<h3>Riepilogo Informazioni</h3>
					</div>
					<div class="span4">
						<font size="3"> <span class="text-success" th:text="${successo}"></span></font>
					</div>
				</div>
				<!-- end: Riepilogo Info -->
			</div>
			<!-- end: Row -->
		</div>
		<!-- end: Container -->
	</div>
	<!-- end: Wrapper  -->

	<div th:include="layout :: javascript"></div>
</body>
</html>